extends ../layout 

block content 
  h1 #{title}: #{bookinstance._id}
  p #[strong Title:] #{bookinstance.book.title}

  p Do you really want to delete this Book Instance?

  .mb-3.d-flex
    form(method='POST')
      input#bookinstanceid.form-control(
        type='hidden'
        name='bookinstanceid'
        required=true 
        value=bookinstance._id
      )

      button.btn.btn-primary(type='submit') Delete

    a(href=bookinstance.url).ms-3.btn.btn-danger Cancel